@import "tailwindcss";

/* Design system tokens */
:root {
  --grey-20: #f4f4f6;
  --text-dark: #131316;
}

/* Semantic tokens */
:root {
  --background: var(--grey-20);
  --foreground: var(--text-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans);
}
